body{
    margin: 0;
    padding: 0;
}

.button-back{
    padding: 10px;
    margin-left: 10px;
    margin-top: 2%;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(237, 237, 237) ; 
    margin: auto;
    gap: 15%;
    width: 60%;
    padding: 20px 0;
    border-radius: 5px;
}

.container-part-one{
    /* background-color: rgb(250, 247, 247); */
    width: 30%;
   
}
.container-part-one h2{
    margin-left: 7%;
    font-weight: bold;
   
}
.detail-client{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 100%; */
    padding: 20px 10px;
    /* background-color: blue; */
}

.detail-client label{
    margin-bottom: 10px;
}
.detail-client input{
    padding: 8px;
    border: none;
    border-bottom: solid 1px black;
    margin-bottom: 15px;
    width: 100%;
}


.details-summary{
    background-color: rgb(208, 207, 207) ; 
    padding: 1px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
}


.detail-client  button{
    margin: 2% 0;
    text-align: center;
}

.detail-client  button{
    padding: 10px 20px;
    background-color: rgb(15, 147, 254);
    color: white;
    border: none;
    width: 50%;
    font-size: 20px;
}
.detail-client  button:hover{
    background-color: rgb(222, 255, 79);
    color: rgb(15, 147, 254);;
}




@media only screen and (max-width: 768px) { 


    .container{
        flex-direction: column-reverse;
        /* display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;*/
        
       
        background-color: white ; 
        align-items: center;
        gap: 15%;
        width: 100%;
        padding: 20px 0;
        border: none;
    }
    
    .container-part-one{
        margin: 10px 0;
        width: 100%;
    }
    .container-part-one h2{
        margin-left: 7%;
        font-weight: bold; 
    }
    .detail-client{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* width: 100%; */
        padding: 10px 40px;
        /* background-color: blue; */
    }
    
    .detail-client label{
        margin-bottom: 10px;
    }
    .detail-client input{
        padding: 8px;
        border: none;
        border-bottom: solid 1px black;
        margin-bottom: 15px;
        width: 100%;
    }
    
    
    .details-summary{
        background-color: rgb(208, 207, 207) ; 
        padding: 1px 20px;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgb(0,0,0,0.1);
    }
    
    
    .button-send{
        margin: 2% 0;
        text-align: center;
    }
    
    .button-send button{
        padding: 10px 20px;
        background-color: rgb(15, 147, 254);
        color: white;
        border: none;
        width: 50%;
        font-size: 20px;
    }
    .button-send button:hover{
        background-color: rgb(222, 255, 79);
        color: rgb(15, 147, 254);;
    }
    
}