<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/admin/navbar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>

<body>
    
    
    <nav class="navbar">
        <div class="logo-navbar">
            <a href=""><img src="/static/images/logo.png" alt="logo"></a>
        </div>


        <div class="menu-over" id="menu-over" onclick="closeMenu()"> </div>

        <div class="menu-burger" id="menu-burger" onclick="toggleMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>

        <ul class="menu-lu" id="menu-lu">
            <li> <a href="{{ url_for('main.indexAdmin') }}"> Accueil</a></li>
            <li> <a href="{{ url_for('main.CommandeAdmin') }}"> Commande</a></li>
            <li> <a href="{{ url_for('main.GestionAdmin') }}"> Gestion</a></li>
            <li> <a href="{{ url_for('main.ParametreAdmin') }}"> Parametre</a></li>
        </ul>
    </nav>


    <script>

        function toggleMenu(){
            const Menu_lu = document.getElementById('menu-lu');
            const Menu_burger = document.getElementById('menu-burger');
            const Menu_over = document.getElementById('menu-over');

            Menu_lu.classList.toggle("active");
            Menu_burger.classList.toggle("active");
            Menu_over.classList.toggle("active");
        }


        function closeMenu(){
            const Menu_lu = document.getElementById('menu-lu');
            const Menu_burger = document.getElementById('menu-burger');
            const Menu_over = document.getElementById('menu-over');

            Menu_lu.classList.remove("active");
            Menu_burger.classList.remove("active");
            Menu_over.classList.remove("active");

        }
    </script>
</body>
</html>