
{% extends "layouts/base.html" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">
{% endblock %}

{% block content %}

<div class="container-text-and-image">

   
    <div class="full-screen-background">
        <div class="container-text">
            <div class="container-text-wrapper"> 
                {% for content in conts %}
                    <p class="container-text-1-1">{{ content.paragraph }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    


    <div class="container-text-background-image"></div>
</div>


    <div class="container-mini-block">
        <div class="container-mini-block-1">
            <p class="block-1-P1"> <strong>740</strong> </p>
            <p class="block-1-P2"></p>Maisons impeccables </p>
        </div>

        <div class="container-mini-block-1">
            <p class="block-1-P1"> <strong>35</strong> </p>
            <p class="block-1-P2"></p>Nos professionnels </p>
        </div>

        <div class="container-mini-block-1">
            <p class="block-1-P1"> <strong>850</strong> </p>
            <p class="block-1-P2"></p>Clients satisfaits </p>
        </div>

        <div class="container-mini-block-1">
            <p class="block-1-P1"> <strong>4</strong> </p>
            <p class="block-1-P2"></p>Années d'expérience </p>
        </div>
    </div>

{% endblock %}