
{% extends "layouts/base.html" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">
{% endblock %}

{% block content %}


<div class="faq-section">
    <div class="faq-vision">
        <h2>FAQ</h2>
        <p>Notre <br> vision des choses</p>
    </div>

    <section class="faq-container">
        <h1>Foire Aux Questions (FAQ)</h1>

        {% for faq in qanda %}
            <div class="faq">
                <button class="faq-question">{{ faq.question }}</button>
                <div class="faq-answer">
                    <p>{{ faq.answer }}</p>
                </div>
            </div>
        {% endfor %}
    </section>
</div>





    <div class="container-tarif-paiement">

        <div class="parte-one-container-tarif-paiement">
            
            <p style="text-transform: uppercase; " >
              Tarif <br> et paiement
            </p> 

            <p> 
                Trouvez le forfait <br>
                adapté à votre budget
            </p>
            
        </div>


        <div class="parte-two-container-tarif-paiement">
            
            <div class="tarif-item">
                <h3 >Paiements acceptés</h3>
                <p >
                    Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez <br>
                    sur « Modifier Texte » ou double-cliquez ici pour ajouter votre  <br>
                    contenu et personnaliser les polices.
                </p>
            </div>

            <div class="tarif-item">
                <h3>Politique d'annulation</h3>
                <p>
                    Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez  <br>
                    sur « Modifier Texte » ou double-cliquez ici pour ajouter votre <br>
                    contenu et personnaliser les polices.
                </p>
            </div>

            <div class="tarif-item">
                <h3>Satisfaction garantie</h3>
                Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez <br>
                sur « Modifier Texte » ou double-cliquez ici pour ajouter votre <br>
                contenu et personnaliser les polices.
            </div>

        </div>

        
    </div>


<script>
    document.querySelectorAll(".faq-question").forEach(button => {
        button.addEventListener("click", () => {
            button.classList.toggle("active");
            let answer = button.nextElementSibling;
            if (answer.style.maxHeight) {
                answer.style.maxHeight = null;
            } else {
                answer.style.maxHeight = answer.scrollHeight + "px";
            }
        });
    });
</script>


{% endblock %}