

{% extends "layouts/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
{% endblock %}

{% block content %}


<div class="container-text">
        
    <div class="container-text-1">
        <p class="container-text-1-1">Services</p>
        <p class="container-text-1-2">Pour nous, la propreté  <br> doit être immaculée</p>
        
    </div>

    <div class="container-text-2">
        Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez <br>
        sur « Modifier Texte » ou double-cliquez ici pour ajouter votre <br>
        contenu et personnaliser les polices. Déplacez-moi où vous le <br>
        souhaitez sur votre page. C'est l'espace idéal pour raconter une <br>
        histoire. Présentez votre entreprise, vos services et vos <br>
        équipes. Paragraphe. Cliquez ici pour ajouter votre propre <br>
        texte. Présentez-vous et votre entreprise.
    </div>
</div>



<div class="container-service-card">
    <div class="service-card">
        <div class="service-image card-1-image" ></div>
        <p class="service-title">Société de nettoyage</p>
        <p class="service-info">⏳ HEURE : 3 h</p>
        <p class="service-info">💰 PRIX : 200 Fcfa</p>
        <button onclick="GoToReserve()" class="service-card-button">Réserver</button>
    </div>

    <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Service de repassage</p>
        <p class="service-info">⏳ HEURE : 2 h</p>
        <p class="service-info">💰 PRIX : 150 Fcfa</p>
        <button onclick="GoToReserve()" class="service-card-button">Réserver</button>
    </div>

    <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Service de repassage</p>
        <p class="service-info">⏳ HEURE : 2 h</p>
        <p class="service-info">💰 PRIX : 150 Fcfa</p>
        <button onclick="GoToReserve()" class="service-card-button">Réserver</button>
    </div>


    <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Service de repassage</p>
        <p class="service-info">⏳ HEURE : 2 h</p>
        <p class="service-info">💰 PRIX : 150 Fcfa</p>
        <button onclick="GoToReserve()" class="service-card-button">Réserver</button>
    </div>

    <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Service de repassage</p>
        <p class="service-info">⏳ HEURE : 2 h</p>
        <p class="service-info">💰 PRIX : 150 Fcfa</p>
        <button onclick="GoToReserve()" class="service-card-button">Réserver</button>
    </div>

   
</div>


<script>
    function GoToReserve(){
        window.location.href = "{{ url_for('main.Horaire') }}" ;
    }
</script>

{% endblock %}