

{% extends "layouts/base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
{% endblock %}

{% block content %}


<div class="container-text">

    <div class="container-text-1">
        <p class="container-text-1-1">Services</p>
        <p class="container-text-1-2">Pour nous, la propreté  <br> doit être immaculée</p>

    </div>

    <div class="container-text-2">
        Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez <br>
        sur « Modifier Texte » ou double-cliquez ici pour ajouter votre <br>
        contenu et personnaliser les polices. Déplacez-moi où vous le <br>
        souhaitez sur votre page. C'est l'espace idéal pour raconter une <br>
        histoire. Présentez votre entreprise, vos services et vos <br>
        équipes. Paragraphe. Cliquez ici pour ajouter votre propre <br>
        texte. Présentez-vous et votre entreprise.
    </div>
</div>



<div class="container-service-card">
    
    {% for service in services %}
    
    <div class="service-card">
        
        <div class="service-image card-1-image" ></div>
        
        <p class="service-title"> {{ service.nameService }}</p>
            <p class="service-info">
                ⏳ HEURE :<span class="heure"> 3 H</span>   
            </p>

            <p class="service-prix">
            💰 PRIX : <span class="prix">{{ service.priceService }}</span>
            </p>

        <!-- 💰 PRIX ⏳ HEURE : -->
        <button onclick="GoToReserve(this)" class="service-card-button">Réserver</button>

    </div>

    {% endfor %}
    <!-- <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Service de repassage</p>
        <p class="service-info">
            ⏳ HEURE :<span class="heure"> 3 H</span>   
        </p>

        <p class="service-prix">
        💰 PRIX : <span class="prix">80 000 Fcfa</span>
        </p>
        <button onclick="GoToReserve(this)" class="service-card-button">Réserver</button>
    </div> -->

    <!-- <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Nettoyage avant/après déménagement</p>
        <p class="service-info"> ⏳ HEURE :<span class="heure"> 3 H</span>    </p>

        <p class="service-prix">
        💰 PRIX : <span class="prix">80 000 Fcfa</span>
        </p>
        <button onclick="GoToReserve(this)" class="service-card-button">Réserver</button>
    </div> -->


    <!-- <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Nettoyage de moquette</p>
        <p class="service-info">
            ⏳ HEURE : <span class="heure"> 3 H</span>   
        </p>

        <p class="service-prix">
        💰 PRIX : <span class="prix">80 000 Fcfa</span>
        </p>
        <button onclick="GoToReserve(this)" class="service-card-button">Réserver</button>
    </div> -->

    <!-- <div class="service-card">
        <div class="service-image card-2-image" ></div>
        <p class="service-title">Nettoyage de fenêtres</p>
        <p class="service-info">
            ⏳ HEURE : <span class="heure"> 3 H</span>   
        </p>

        <p class="service-prix">
        💰 PRIX : <span class="prix">80 000 Fcfa</span>
        </p>
        <button onclick="GoToReserve(this)" class="service-card-button">Réserver</button>
    </div> -->


</div>


<script>
    function GoToReserve(button) {
        let serviceTitleElement = button.parentElement.querySelector(".service-title");
        let servicePrixElement  = button.parentElement.querySelector(".prix");

        if (serviceTitleElement && servicePrixElement) {
            let serviceTitle = serviceTitleElement.innerText;
            let servicePrix = servicePrixElement.innerText;

            localStorage.setItem("service_title", serviceTitle);
            localStorage.setItem("service_prix", servicePrix);

            window.location.href = "{{ url_for('main.Horaire') }}" ;
        } else {
            console.error("Element non trouvé.");
        }
    }
</script>


{% endblock %}